<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9_I_oWkIqLrk3Tb0E_Kaa_yoM5b9MAfLNV9hyhk78Mp9O7qjz9b3JeTC_qsvVnoqoS9XXYIzUEYgIfU5K</string>
	<key>oauthRedirectURI</key>
	<string>testsfdc:///mobilesdk/detect/oauth/done</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>shouldAuthenticate</key>
	<false/>
</dict>
</plist>
